html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
	text-decoration: underline;
}

html, body {
	background: #f1f2ff;
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 16px;
	color: #222;
}

.clear {
	clear: both;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
}

.main-details {
	padding: 25px 35px;
	border-bottom: 2px solid #0D0D0D;
}

.name {
    padding-top: 4px;
	float: left;
}

.name h1 {
	font-size: 2em;
	font-weight: 700;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.name h2 {
	font-size: 1.5em;
	margin-left: 2px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#main-area {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.contact-details {
	float: right;
}

.contact-details ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

.contact-details ul li {
	margin-bottom: 3px;
	color: #444;
}

.contact-details ul li a, a[href^=tel] {
	color: #444; 
	/* text-decoration: none; */
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.contact-details ul li a:hover { 
	color: #0D0D0D;
}

.contact-details .fa,
.contact-details .fas,
.contact-details .fab {
	display: inline-block;
	width: 20px;
	margin-right: 5px;
	text-align: center;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.section-title {
	float: left;
	width: 25%;
}

.section-content {
	float: right;
	width: 72.5%;
}

.section-title h1 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	/* font-style: italic; */
	font-size: 1.3em;
	color: #0D0D0D;
}

.section-content h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	/* margin-bottom: -2px; */
}

.section-content h3 {
	font-weight: bold;
}

.sub-details {
	font-size: 0.8em;
	margin-top: 3px;
	margin-bottom: 3px;
}

.sub-details.emphasized {
	font-weight: bold;
	margin-top: 10px;
}

.company-name {
	margin-bottom: 10px;
}

.experience-item {
	margin-left: 20px;
}

.key-skills {
	list-style-type: none;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.key-skills li {
	margin-bottom: 3px;
}

.regular-list {
	list-style-type: circle;
	list-style-position: inside;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.regular-list li {
	margin-bottom: 3px;
}

.align-basenines-h2-h3 {
	padding-top: 6px;
}

.highlighted-text {
	background-color: #cfdfe9;
	color: #2e2e2e;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}
	
	.key-skills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#headshot {
		display: none;
	}
	
	.name, #contact-details {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.section-title, .section-content {
		float: none;
		width: 100%;
	}
	
	.section-title {
		margin-left: -2px;
		font-size: 1.25em;
	}
	
	.key-skills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.main-details {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#main-area {
		padding: 0 25px;
	}

	
	.key-skills {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
	
	.name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #cv {
        width: 100%;
    }
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.insta-fade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quick-fade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}
 
.delay-one {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delay-two {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delay-three {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delay-four {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delay-five {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}